<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        table{
            position: relative;
            left:160px;
            align-content: center;
            align-self: center;
            border: 1px solid black;
        }
        td{
            text-align: center;
            border: 1px solid black;
        }
        th{
            border: 1px solid black;
        }
        table{
            height: 100vh;
            width: 80vw;
        }

    </style>
</head>
<body>
    <h1>Comments of the Youtube Video</h1>
    <table>
        <thead>
          <tr>
            <th>Sno</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{no}</td>
                <td>{comment}</td>
            </tr>
            {% endfor %}
          
          <tr>
            <td>2</td>
            <td>{{link}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Third comment</td>
          </tr>
        </tbody>
      </table>
</body>
</html>